<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" providerName="SqlClient" connectionString="Data Source=bios64v2.biofarma.co.id;Initial Catalog=BIOFARMA;Persist Security Info=True;User ID=sa;Password=P@ssw0rd;MultipleActiveResultSets=True;Connect Timeout=30" />
  </connectionStrings>
  <appSettings>
    <add key="DateTimeFormat" value="MM/dd/yyyy HH:mm:ss" />
    <add key="DateFormat" value="MM/dd/yyyy" />
    <add key="YearFormat" value="yyyy" />
  </appSettings>
</configuration>