<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="devExpress">
      <section name="themes" type="DevExpress.Web.ASPxClasses.ThemesConfigurationSection, DevExpress.Web.v13.2, Version=13.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="compression" type="DevExpress.Web.ASPxClasses.CompressionConfigurationSection, DevExpress.Web.v13.2, Version=13.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="settings" type="DevExpress.Web.ASPxClasses.SettingsConfigurationSection, DevExpress.Web.v13.2, Version=13.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="errors" type="DevExpress.Web.ASPxClasses.ErrorsConfigurationSection, DevExpress.Web.v13.2, Version=13.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="BiofarmaConnectionLocal" connectionString="Data Source=AROISAL;Initial Catalog=BIOFARMA;Persist Security Info=True;User ID=sa;Password=system444;MultipleActiveResultSets=True;Connect Timeout=30"
      providerName="SqlClient" />
    <add name="AssetManagementConnectionLocal" connectionString="Data Source=AROISAL;Initial Catalog=BIOFARMA;Persist Security Info=True;User ID=sa;Password=system444;MultipleActiveResultSets=True;Connect Timeout=30"
      providerName="SqlClient" />
    <!--add name="BiofarmaConnectionTest" connectionString="Data Source=bios64v2.biofarma.co.id;Initial Catalog=BIOFARMA;Persist Security Info=True;User ID=sa;Password=P@ssw0rd;MultipleActiveResultSets=True;Connect Timeout=30"
      providerName="SqlClient" /-->
    <add name="AssetManagementConnectionTest" connectionString="Data Source=bios64v2.biofarma.co.id;Initial Catalog=BIOFARMA;Persist Security Info=True;User ID=sa;Password=P@ssw0rd;MultipleActiveResultSets=True;Connect Timeout=30"
      providerName="SqlClient" />
    <add name="BiofarmaConnectionProd" connectionString="Data Source=AROISAL;Initial Catalog=BIOFARMA;Persist Security Info=True;User ID=sa;Password=system444;MultipleActiveResultSets=True;Connect Timeout=30"
      providerName="SqlClient" />
    <add name="AssetManagementConnectionProd" connectionString="Data Source=AROISAL;Initial Catalog=BIOFARMA;Persist Security Info=True;User ID=sa;Password=system444;MultipleActiveResultSets=True;Connect Timeout=30"
      providerName="SqlClient" />
    <add name="BiofarmaConnectionTest" connectionString="Data Source=DHINO;Initial Catalog=BIOPM;Persist Security Info=True;User ID=sa;Password=dhino;MultipleActiveResultSets=True;Connect Timeout=30"
      providerName="SqlClient" />
  </connectionStrings>
  <system.web>
    <globalization culture="en-US" uiCulture="en-US" />
    <customErrors mode="Off" redirectMode="ResponseRedirect">
      <error statusCode="404" redirect="~/Views/Application/404.aspx" />
      <error statusCode="500" redirect="~/Views/Application/500.aspx" />
    </customErrors>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="DevExpress.XtraReports.v13.2.Web, Version=13.2.7.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Web.v13.2, Version=13.2.7.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Printing.v13.2.Core, Version=13.2.7.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Data.v13.2, Version=13.2.7.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.XtraReports.v13.2, Version=13.2.7.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="DevExpress.Web.ASPxThemes.v13.2, Version=13.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" defaultUrl="~/" />
    </authentication>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
    <httpModules>
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v13.2, Version=13.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
    </httpModules>
    <httpHandlers>
      <add path="DX.ashx" verb="GET" type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v13.2, Version=13.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" validate="false" />
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v13.2, Version=13.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v13.2, Version=13.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET" path="DX.ashx" name="ASPxHttpHandlerModule" preCondition="integratedMode" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Configuration" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Core" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.Serialization" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.9.0" newVersion="2.6.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.9.0" newVersion="2.6.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <system.net>
    <mailSettings>
      <smtp from="admin.app@biofarma.co.id">
        <network host="mail.biofarma.co.id" port="587" userName="admin.app" password="P@ssw0rdmail" enableSsl="false" defaultCredentials="false" />
      </smtp>
    </mailSettings>
  </system.net>
  <appSettings>
    <!--Credential & Configuration-->
    <add key="defpassword" value="b!0farma" />
    <add key="mail_domain" value="@biofarma.co.id" />
    <add key="sso" value="1" />
    <!-- Not Active = 0, Active = 1 -->
    <add key="ConnectionBiofarma" value="BiofarmaConnectionTest" />
    <add key="ConnectionAssetManagement" value="AssetManagementConnectionTest" />
    <!--Email-->
    <add key="MailModerator" value="moderator@biofarma.co.id" />
    <add key="MailModeratorName" value="Asset Administrator" />
    <add key="MailModeratorUsername" value="admin.app" />
    <add key="MailModeratorPassword" value="P@ssw0rdmail" />
    <add key="BiofarmaMailServerSMTP" value="mail.biofarma.co.id" />
    <add key="BiofarmaMailServerPort" value="587" />
    <!--ERP MRP-->
    <add key="ERP_username" value="BIOFARMA\dev3" />
    <add key="ERP_password" value="Bi0farma111" />
    <!--Active Directory-->
    <add key="ActiveDirectoryDomain" value="biofarma.co.id" />
    <add key="ActiveDirectoryUsername" value="moderator" />
    <add key="ActiveDirectoryPassword" value="5y5t3mmail" />
    <!--Format-->
    <add key="DateTimeFormat" value="MM/dd/yyyy HH:mm:ss" />
    <add key="DateFormat" value="MM/dd/yyyy" />
    <add key="YearFormat" value="yyyy" />
    <!--Chryptograpy-->
    <add key="SecurityKey" value="CODE SEVEN" />
    <add key="LongSecurityKey" value="#$@ll@NPr@k0s@8th3nC12yPT317K3yL4" />
    <add key="Gateway" value="1" />
    <!-- CTI = 0, Default = 1 -->
    <!--Application Control-->
    <add key="UserMenu" value="" />
    <add key="AssetDocumentDir" value="#" />
    <!--Menu Control-->
    <add key="InsertMenu" value="" />
    <add key="UserRole" value="" />
    <add key="UpdateMenu" value="" />
    <add key="DeleteMenu" value="" />
    <add key="ViewMenu" value="" />
    <add key="PrintMenu" value="" />
    <add key="ExportMenu" value="" />
    <!--Base Configuration-->
    <add key="ApplicationID" value="1" />
    <add key="Init_URL" value="Views/Application/Login.aspx" />
    <add key="App_Name" value="Asset Management" />
    <add key="App_URL" value="http://testingapps.biofarma.co.id/assetbeta" />
    <add key="Mobile_Path" value="http://testingapps.biofarma.co.id/assetbeta/views/mobile" />
    <add key="Dashboard" value="../../Views/Administrator/Dashboard.aspx" />
    <add key="LogoutTo" value="../../Views/Application/Home.aspx" />
    <add key="LoginTo" value="../../Views/Application/Login.aspx" />
    <add key="App_Icon" value="../../Images/logoasset.png" />
    <add key="User_Icon" value="../../Scripts/UserPanel/images/user.png" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="reqReplyEndpoint" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" />
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_SCC_WSAssetService" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" />
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://erp-aos-01.biofarma.co.id/MicrosoftDynamicsAXAif60/Asset/xppservice.svc" binding="basicHttpBinding" bindingConfiguration="reqReplyEndpoint" contract="AssetERP.IRequestReplyRouter" name="reqReplyEndpoint" />
      <endpoint address="http://erp-aos-01.biofarma.co.id/MicrosoftDynamicsAXAif60/Asset/xppservice.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_SCC_WSAssetService" contract="AssetERP.SCC_WSAssetService" name="BasicHttpBinding_SCC_WSAssetService" />
    </client>
  </system.serviceModel>
  <devExpress>
    <themes enableThemesAssembly="true" styleSheetTheme="" theme="" customThemeAssemblies="" />
    <compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true" />
    <settings doctypeMode="Xhtml" rightToLeft="false" />
    <errors callbackErrorRedirectUrl="" />
  </devExpress>
</configuration>