<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.net>
    <mailSettings>
      <smtp from="moderator@biofarma.co.id">
        <network host="mail.biofarma.co.id"
         port="587"
         userName="moderator"
         password="5y5t3mmail"
         enableSsl="false"
         defaultCredentials="false" />
      </smtp>
    </mailSettings>
  </system.net>
  <appSettings>
    <add key="MailAddress" value="bioasset@biofarma.co.id" />
    <add key="MailName" value="Asset Administrator" />
    <add key="MailSubject" value="[NO-REPLY] Asset Management Bio Farma" />
  </appSettings>
</configuration>